<div class="rubriques-bar" role="navigation" aria-label="Rubriques">
  <div class="rubriques-scroll">
    <a href="{{ site.baseurl }}/actualites/" class="rubrique-pill {% if page.url contains '/actualites' %}active{% endif %}">Actualités</a>
    <a href="{{ site.baseurl }}/economie/" class="rubrique-pill {% if page.url contains '/economie' %}active{% endif %}">Économie</a>
    <a href="{{ site.baseurl }}/agenda/" class="rubrique-pill {% if page.url contains '/agenda' %}active{% endif %}">Agenda</a>
    <a href="{{ site.baseurl }}/portraits/" class="rubrique-pill {% if page.url contains '/portraits' %}active{% endif %}">Portraits</a>
    <a href="{{ site.baseurl }}/pratique/" class="rubrique-pill {% if page.url contains '/pratique' %}active{% endif %}">Pratique</a>
    <a href="{{ site.baseurl }}/passy/" class="rubrique-pill {% if page.url contains '/passy' %}active{% endif %}">Passy</a>
    <a href="{{ site.baseurl }}/saint-gervais/" class="rubrique-pill {% if page.url contains '/saint-gervais' %}active{% endif %}">Saint-Gervais</a>
    <a href="{{ site.baseurl }}/magland/" class="rubrique-pill {% if page.url contains '/magland' %}active{% endif %}">Magland</a>
  </div>
</div>
